{% extends 'base.html' %}
{% from 'macroses/_render_field.html' import render_field %}

{% block title %}Створення листа для користувачів, які є в e-mail розсилці{% endblock %}

{% block assets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/trumbowyg.min.css') }}">
{% endblock %}

{% block container %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% include 'alert.html' %}
            <h1 class="text-center">Створення листа для користувачів, які є в e-mail розсилці</h1>
            <blockquote>
                <p>Важлива нотатка: після того, як ви введете тему
                    та вміст
                    листа і натиснете на кнопку "Відправити",
                    відбудеться
                    асинхронна їх розсилка (у фоновому режимі на основі
                    вже створенного шаблону).</p>
            </blockquote>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                {{ render_field(form.subject, size=form.subject.render_kw.size) }}
                {{ render_field(form.message, size=form.message.render_kw.size) }}
                {{ render_field(form.file1) }}
                {{ render_field(form.file2) }}
                {{ render_field(form.file3) }}
                {{ render_field(form.file4) }}
                {{ render_field(form.file5) }}
                <button class="btn btn-block btn-primary" type="submit">Відправити</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/trumbowyg.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/langs/ua.min.js') }}"></script>
    <script>
        $('#message').trumbowyg({
            lang: 'ua',
            mobile: true,
            fixedBtnPane: true,
            fixedFullWidth: true,
            semantic: true,
            resetCss: true,
            autoAjustHeight: true,
            autogrow: true,
            btnsAdd: ['close']
        });
    </script>
{% endblock %}